<h1>Bienvenue !</h1>
<br>
<div class="center">
	<%= link_to "Se connecter", login_path, class: "btn btn-primary" %>
</div>
<br>
<div class="center">
	<%= link_to "S'inscrire", signup_path, class: "btn btn-primary" %>
</div>